body {
  text-align: center;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #28242c !important ;
  background-color: #C8CCCE !important ;
  border-color: none !important ;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  color: #C8CCCE;
  padding-right: 85px;
}

.nav-tabs .nav-link:hover{
  color: #C8CCCE;
}