.number-wrapper-color img {
    margin-left: 8px;
    margin-bottom: 5px;
    height: 20px;
}

.title-with-image {
    align-items: center;
    display: flex;
}
.table-responsive{
    margin-bottom: 5px;
}

.table-container {
    display: flex;
}

.table-container table {
    flex: 1;
    margin-right: 20px;
}

.table-dark.table-bordered.mb-0 tbody tr.highlight-yellow td {
    background-color: rgba(247, 247, 31, 0.829);
    font-weight: bold;
    color: #28242c;
}

.table-dark.table-bordered.mb-0 tbody tr.highlight-green td {
    background-color: rgba(3, 197, 3, 0.671);
    font-weight: bold;
    color: #28242c;
}

.table-dark.table-bordered.mb-0 tbody tr.highlight-blue td {
    background-color: rgba(44, 121, 236, 0.712);
    font-weight: bold;
}

.table-dark.table-bordered.mb-0 tbody tr.highlight-violet td {
    background-color: rgba(172, 44, 172, 0.678);
    font-weight: bold;
}

.table-dark.table-bordered.mb-0 tbody tr.highlight-orange td {
    background-color: rgba(255, 166, 0, 0.658);
    font-weight: bold;
    color: #28242c;
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 10px;
    line-height: 3px; 
    white-space: nowrap;
}

.table-responsive > .table > tbody > tr > td {
    background-color: rgba(0, 0, 0, 0);
    color: #C8CCCE;
}