
.numbers-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
  }
  
  .numbers-list-container > div {
    flex-basis: 5%;
  }
  
  .numbers-list-container img {
    object-fit: contain;
  }
  
.imageColor {
    height: 14px;
}

.clicked {
    height: 14px;
    opacity: 0.1;
}
.selected {
    filter: blur(0.3px);
    transform: scale(1.1);
    box-shadow: 0 0 5px rgb(172, 172, 172);
}

.imageColor:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgb(172, 172, 172);
}

.load-btn {
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .numbers-list-container > div {
      flex-basis: 0%; /* Adjust the percentage based on your preference */
    }
  
    .imageColor {
      height: 20px; /* Adjust the height for bigger screens */
    }
  
    .clicked {
      height: 20px; /* Adjust the height for bigger screens */
    }
  }
