.image-block {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.image-wrapper {
    margin-right: 5px; 
}

.image-wrapper img {
    width: 25px; 
    height: auto;
}

.image-wrapper img.selected {
    box-shadow: 0 0 5px rgb(201, 200, 200); 
}