:root {
    --custom-bg-color: #212529; /* Replace with your desired color */
}



input.form-control {
    color: #212529;
    background-color: #C8CCCE;
    border-color: #c9c9c9;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3); 
    transition: box-shadow 0.4s ease; 
}

input.form-control:focus {
    color: #28242c;
    background-color: #C8CCCE;
    outline: none; 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.6); 
    border-color: #c9c9c9;
}
